---
UseTab: Never
ContinuationIndentWidth: 4
IndentWidth: 4
TabWidth: 4
SpaceAfterLogicalNot: true
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
BinPackParameters: false
ColumnLimit: 90
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlwaysBreakAfterDefinitionReturnType: false
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000000
AllowShortBlocksOnASingleLine: false
AlignTrailingComments: true
BreakBeforeBinaryOperators: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AccessModifierOffset: -4
SortIncludes: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BinPackArguments: false
ConstructorInitializerIndentWidth: 50
...
