---
UseTab: "Never"
ContinuationIndentWidth: 4
IndentWidth: 4
TabWidth: 4
SpaceAfterLogicalNot: true
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 100
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000000
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeBinaryOperators: true
AllowShortBlocksOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignTrailingComments: true
AlignOperands: AlignAfterOperator
AccessModifierOffset: -4
SortIncludes: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
...
